%p
  Access token を取得できるツールです。BOTの作成などにご利用ください。
%p
  詳しくは<a href="http://d.hatena.ne.jp/yayugu/20100908/1283953165">http://d.hatena.ne.jp/yayugu/20100908/1283953165</a>をご覧ください
%form{:action => '/request_token', :method => 'POST'}
  %div
    Consumer key: 
    %input.b{:type => 'text', :name => 'consumer_key'}
  %div
    Consumer secret: 
    %input.b{:type => 'text', :name => 'consumer_secret'}
  %div
    認証モード
    %input.button{:type => 'radio', :id => 'callback', :name => 'mode', :value => 'callback', :checked => 'checked'}
    %label{:for => 'callback'}
      コールバック
    %input.button{:type => 'radio', :id => 'pin', :name => 'mode', :value => 'pin'}
    %label{:for => 'pin'}
      PIN
  %input.button{:type => 'submit', :value => 'get acess_token'}
